<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/pagefordimension.css' %}">
    <link rel="stylesheet" href="{% static '/css/text.css' %}">
    <link rel="stylesheet" href="{% static '/css/text.js' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
</head>
<body>
<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid">
        <a class="navbar-brand">Point & Click</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navcol-1" class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/catalog/">Каталог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/'>Главная страница</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'image/pixel-512x512 (1).png' %}" class='background img-fluid'>
                <p><a href='/pagefordimension5/'><img src="{% static 'image/pixel-512x512 (10).png' %}" class="p4_1">
                </a></p>
            </div>
            <div class="col-md-6" style="padding-top: 106px;">
                <div class="card">
                    <div class="card-body">
                        <div class="text-typing">
                            <div id="typed"></div>
                        </div>
                        <div id="typed-strings">
                            <span>Пространство исчезает на глазах, превращаясь в нечто совершенно иное.</span>
                            <span>Пустота снова окружает тебя. Видишь ее границы?</span>
                            <span> В этом месте не существует расстояний, и взгляд твой не цепляется ни за что.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="text-center py-4">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-3">
            <div class="col">
                <p class="text-muted my-2">point n click</p>
            </div>
            <div class="col">
                <ul class="list-inline my-2">
                    <li class="list-inline-item me-4">
                        <div class="bs-icon-circle bs-icon-primary bs-icon">
                            <svg class="bi bi-discord" xmlns="http://www.w3.org/2000/svg" width="1em"
                                 height="1em" fill="curentColor" viewBox="0 0 16 16"></svg>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="bs-icon-circle bs-icon-primary bs-icon">
                            <svg class="bi bi-git" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                 fill="currentColor" viewBox="0 0 16 16"></svg>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="list-inline my-2"></ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>